<div>
    <div class="div-box">
        <h3>Редактировать страницы сайта</h3>
        <br />
        <ul>
            <li><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a></li>
            <li><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageTarget">Цели и задачи работы</a></li>
            <li><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageInputData">Исходные данные</a></li>
            <li><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PagePlanJob">План работы и календарные сроки</a></li>
            <li><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageResult">Теоретические и практические результаты</a></li>
            <li><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageAprobe">Апробация результатов</a></li>
        </ul>
        
    </div>
    
</div>


