<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <header id="header">
                <nav class="nav_flex" id="nav">
                    <p class="header_title">Панель администратора</p> 
                    <a class="button_logout" asp-area ="" asp-controller="Account" asp-action="Logout" method="post">Выход</a>
                </nav>  
            </header>
        </div>
    </div>
</div>